body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Adding a light gray background for better visibility */
}

h1 {
    font-size: 5rem;
    font-family: sans-serif;
    color: #333;
}